body{
    font-family: 'Poppins', sans-serif;
}

.header{
    text-align: center;
    height: 500px;
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    padding-top: 80px;
    color: white;
}
.link-button{
    text-decoration: none;
    background-color: tomato ;
    padding: 10px 20px;
    border-radius: 8px;
}